---
---

<footer class="w-full mt-auto">
  <div class="max-w-3xl mx-auto px-4 pt-8 pb-8">
    <p class="text-xs text-subtle-foreground flex gap-4">
      <a href="/om" class="hover:text-foreground transition-colors">
        Om webbplatsen
      </a>
      <a href="/termer" class="hover:text-foreground transition-colors">
        Ordlista
      </a>
      <a href="/biografier" class="hover:text-foreground transition-colors">
        Biografier
      </a>
      <a href="/rss.xml" class="hover:text-foreground transition-colors">
        RSS
      </a>
    </p>
  </div>
</footer>
