---
import ScrollToTop from '~/components/ui/ScrollToTop.astro'
import Footer from './Footer.astro'
import Header from './Header.astro'

interface Props {
  largePadding?: boolean
}

const { largePadding } = Astro.props
---

<div class="min-h-dvh flex flex-col">
  <Header />
  <main
    id="main"
    class:list={[
      'w-full max-w-3xl mx-auto px-4 flex-1',
      largePadding ? 'py-12 sm:py-16' : 'py-6 sm:py-8',
    ]}
  >
    <slot />
  </main>
  <Footer />
  <ScrollToTop />
</div>
